<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <form action="#">
            <input v-model="searchbar" ref="sb">
            <button v-bind:class="{'b-add': !exactMatch, 'b-inc': exactMatch}" v-on:click="addPrice">{{ exactMatch ? 'Increment' : 'Add' }}</button>
        </form>
        <div class="table-container">
            <table>
                <tr>
                    <th>Price</th>
                    <th>Count</th>
                    <th>Product</th>
                </tr>
                <tr v-for="row in visibleRows">
                    <td class="pricecol">{{ formatMoney(row.price) }}</td>
                    <td class="countrow">
                        <div class="count">{{ row.count }}</div>
                        <button class="b-inc" v-on:click="increment(row.price, 1)">++</button>
                        <button class="b-incby" v-on:click="incrementBy(row.price)">Increment by...</button>
                        <button class="b-dec" v-on:click="increment(row.price, -1)">--</button>
                        <button class="b-zero" v-on:click="setTo(row.price, 0)">Zero</button>
                        <button class="b-del" v-on:click="deleteItem(row.price)">Delete</button>
                    </td>
                    <td class="productcol">{{ formatMoney(row.price * row.count) }}</td>
                </tr>
                <tr class="totalrow">
                    <td>Total (including invisible):</td>
                    <td></td>
                    <td class="productcol">{{ formatMoney(total) }}</td>
                </tr>
            </table>
        </div>

        <div id="incrementModal" class="modal" v-show="inc.show">
            <div class="modal-content">
                <form action="">
                    Increment {{ formatMoney(inc.price) }} <input v-model="inc.amount" type="number" ref="incInp" action="#"> times <button v-on:click="incrementByActual(inc.price)">OK</button>
                </form>
            </div>
        </div>

        <button class="b-clear" v-on:click="clearAll">Clear All</button>

    </div>
</body>

<script src="main.js"></script>

</html>